@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
  font-family: 'Lora', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 26px;
}
a:hover,
a:focus {
  color: #4676fa;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-common {
  border: 2px solid #4676fa;
  background-color: #4676fa;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.btn-common:hover {
  color: #4676fa;
  background-color: transparent;
  border: 2px solid #4676fa;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
}
.btn-border:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #4676fa;
}
.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}
.clear {
  clear: both;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #4676fa;
}
.section {
  padding: 80px 0;
}
.no-bottom-margin {
	margin-bottom: 0px;
}
.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #0d3559;
  position: relative;
}
.section-header .section-title span {
  color: #4676fa;
}
.section-header li {
	list-style: disc;
	margin-left: 25px;
  color: #333;
  font-size: 14px;
  font-weight: 250;
    text-align: left
}
.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
    text-align: left
}

.section-header .section-subtitle-dark{
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
    text-align: left
}
.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #346afe;
  margin-top: 15px;
}
.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #4676fa;
  left: 27px;
}
/* ==========================================================================
   Navbar Style
   ========================================================================== */
.bg-faded {
  background-color: #fff;
}
.logo-menu a {
  font-size: 20px;
  color: #fff;
}
.menu-bg {
  background-color: #404040!important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 3px;
}
.menu-bg .menu-button {
  top: 0;
}
.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #4676fa;
}
.menu-bg .logo-menu a {
  color: #4676fa;
}
.menu-button:hover {
  cursor: pointer;
  opacity: #eee;
}
.close-button {
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-item {
  margin-left: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #0d3559;
  padding: 7px 0px;
  margin-left: 5px;
  position: relative;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover:before {
  color: #4676fa;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:before,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: #4676fa;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-toggler {
  border-color: #333;
  border-radius: 0px;
}
.navbar-light .navbar-toggler {
  float: right;
  margin: 10px;
}
.navbar-light .navbar-toggler i {
  color: #333!important;
}
/* ==========================================================================
   Slider Area
   ========================================================================== */
#slider-area {
  margin-top: -1px;
}
#slider-area h1 {
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
#slider-area p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
#slider-area .sticky-navigation {
  background: transparent;
}
#slider-area .btn {
  margin-right: 15px;
}
#slider-area .large_white {
  color: #fff;
}
/* ==========================================================================
   Header
   ========================================================================== */
#header-section {
  overflow: hidden;
  position: relative;
}
#header-section .contents {
  padding: 160px 0 80px;
}
#header-section .contents h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 70px;
}
#header-section .contents p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
#header-section .contents .btn {
  margin: 20px 10px;
  text-transform: uppercase;
}
#header-section .banner_bottom_btn {
  margin-top: 40px;
}
#header-section .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#header-section .banner_bottom_btn i:hover {
  color: #4676fa;
}
.overlay-2 {
  background: rgba(0,0,0, 0.7) !important;
}


/* ==========================================================================
   latest-news 
   ========================================================================== */
#latest-news .latest-news-item-wrapper {
  background: #fff;
  border-radius: 0px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
#latest-news .latest-news-item-wrapper:hover {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
#latest-news .latest-news-item-wrapper:hover .latest-news-item-img:before {
  opacity: 1;
  height: 100%;
  width: 100%;
}
#latest-news .latest-news-item-img {
  position: relative;
}
#latest-news .latest-news-item-img img {
  width: 100%;
}
#latest-news .latest-news-item-img:before {
  width: 50%;
  height: 50%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(70, 118, 250, 0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#latest-news .latest-news-item-text {
  border: 1px solid #f1f1f1;
  padding: 20px;
}
#latest-news .latest-news-item-text .meta-tags {
  margin-bottom: 10px;
}
#latest-news .latest-news-item-text .meta-tags span {
  color: #999;
  margin-right: 10px;
}
#latest-news .latest-news-item-text .meta-tags span i {
  margin-right: 5px;
}
#latest-news .latest-news-item-text .meta-tags span a {
  color: #999;
}
#latest-news .latest-news-item-text .meta-tags span a:hover {
  color: #4676fa;
}
#latest-news .latest-news-item-text h3 {
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
#latest-news .latest-news-item-text h3 a {
  color: #333;
}
#latest-news .latest-news-item-text h3 a:hover {
  color: #4676fa;
}
#latest-news .latest-news-item-text p {
  line-height: 25px;
  margin-bottom: 20px;
}



#latest-news .btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}
#latest-news .btn:focus {
  box-shadow: none;
  outline: none;
}
#latest-news .btn-common {
  border: 2px solid #4676fa;
  background-color: #4676fa;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
#latest-news .btn-common:hover {
  color: #4676fa;
  background-color: transparent;
  border: 2px solid #4676fa;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
#latest-news .btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
}
#latest-news .btn-border:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #4676fa;
}
#latest-news .btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}
#latest-news .btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
    margin-left: 0px
}



/* ==========================================================================
   How To Section Style
   ========================================================================== */
#news-item {
  position: relative;
  background: #fff;
    width:85%;
    margin:0 auto;
}


#news-item td
{
	padding: 10px;
}

#news-item table
{
		margin-bottom: 20px;
}

#news-item p, #news-item td {
	
  margin-top: 20px;
font-size: 15px;
  line-height: auto;
  color: #333;
    text-align: left;
        
}

#news-item h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
      color: #333;
    text-align: left
}


#news-item .shot-item {
  margin-right: 15px;
  padding: 8px;
  border-radius: 4px;
  background: #fff;
      width: 50%;
    margin-bottom: 20px
}

#news-item ul {
    color: black;
    text-align: justify;
        margin-bottom: 40px;
}
#news-item ul li {
  list-style:inside;
}





/* ==========================================================================
    Contact Us
    ========================================================================== */
.form-control {
  width: 100%;
  margin-bottom: 20px;
  padding: 18px;
  /*color: #fff;*/
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Lato', sans-serif;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}
.btn.disabled,
.btn:disabled {
  opacity: 1;
}
#contact {
  background-image: linear-gradient(120deg, #d0e4f7 0%, #007FE8 100%);
  background: url(../img/bg_3.jpg) fixed;
  position: relative;
  width: 100%;
}

#contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  }

#contact p {
    color: #333;
    text-align: left
    
    
}
#contact .contact-block {
  padding: 30px;
  overflow: hidden;
}
#contact #contactForm {
  margin-top: 30px;
}
.text-danger {
  font-size: 14px;
  margin-top: 10px;
}
.list-unstyled li {
  color: #d9534f;
}

/*
*/

#thefuture {
  background: #f2f2f2;
}

#thefuture p {
    color: #333;
    text-align: left
    
    
}


/* ==========================================================================
    Subscribe Style
    ========================================================================== */
	#subscribe {
		background: #fff;
	}
#subscribe form input {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
  color: #999999;
  height: 50px;
  padding: 0 20px;
  width: 100%;
}
#subscribe form input:focus {
  border: 1px solid #4676fa;
}
#subscribe .sub_btn {
  border: none;
  line-height: 44px;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 150px;
  color: #fff;
  top: 0;
  height: 50px;
  background: #4676fa;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
  
/* ==========================================================================
    Subscribe Style
    ========================================================================== */
#faqs .faq .question {
	font-weight: bold;
}
#faqs .faq .answer {
	
}

#faqs {
	background: #ffffff
}

#faqs .faq {
	margin-top: 10px;
}
#faqs .faq:hover {
	margin-top: 10px;
}

/* ==========================================================================
   Footer Style
   ========================================================================== */
footer {
  background: #333;
  padding: 60px 0px 30px;
  text-align: center;
}
.site-info p {
  line-height: 34px;
  color: #fff;
}
.site-info p a {
  color: #fff;
}
.site-info p a:hover {
  color: #4676fa;
}
.social-icons {
  margin-bottom: 20px;
}
.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons ul li {
  display: inline;
}
.social-icons ul li a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 254, 254, 0.07);
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}
.social-icons ul li a:hover {
  color: #ffffff;
}
.facebook a {
  color: #4867aa;
}
.facebook a:hover {
  background: #4867aa;
}
.twitter a {
  color: #1da1f2;
}
.twitter a:hover {
  background: #1da1f2;
}
.telegram a {
  color: #dd4d42;
}
.telegram a:hover {
  background: #dd4d42;
}
.subscribe-box {
  margin-top: 18px;
}
.subscribe-box input[type="text"] {
  color: #444;
  font-size: 12px;
  padding: 6px 12px;
  border: none;
  background: #fff;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  outline: none;
}
.subscribe-box input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  background: #4676fa;
  text-transform: uppercase;
  border: none;
  padding: 7px 16px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: #4676fa;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999999;
}
.spinner {
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
  margin: 0px auto;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4676fa;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}



section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }

::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

